profile = default
break-cases = toplevel
break-string-literals = never
cases-exp-indent=2
exp-grouping = preserve
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
type-decl = sparse
