profile = default
break-string-literals = never
cases-exp-indent=2
dock-collection-brackets = false
exp-grouping = preserve
if-then-else = fit-or-vertical
leading-nested-match-parens = true
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
